<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/">Home</a>
                </li>

                <!-- <li>
                    <a href="{{ site.baseurl }}/about/">About</a>
                </li> -->

                <li>
                    <a href="{{ site.baseurl }}/quick-start.html">Quick Start</a>
                </li>

                <li>
                    <a href="{{ site.baseurl }}/docs.html">Docs</a>
                </li>

                <li>
                    <a href="{{ site.baseurl }}/blog.html">Blog</a>
                </li>

                <li>
                    <a href="{{ site.baseurl }}/faq.html">Faq</a>
                </li>

                <!-- <li>
                    <a href="{{ site.baseurl }}/avmservices/">AVM Services</a>
                </li>

                <li>
                    <a href="{{ site.baseurl }}/gaas/">GaaS</a>
                </li>

                <li>
                    <a href="{{ site.baseurl }}/awesome/">Awesome AVM</a>
                </li>

                <li>
                    <a href="{{ site.baseurl }}/reporting/">Reporting</a>
                </li>


                <li>
                    <a href="{{ site.baseurl }}/blog/">Blog</a>
                </li>

                <li>
                    <a href="{{ site.baseurl }}/search/">Search</a>
                </li>


                <li>
                    <a href="{{ site.baseurl }}/members/">Members</a>
                </li> -->




<!--

				      {% for page in site.pages %}{% if page.url contains "projects/" %}{% if page.title %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endif %}{% endif %}{% endfor %}

              {% for page in site.pages %}{% if page.url contains "projects/" %}{% else %}{% if page.title %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endif %}{% endif %}{% endfor %} -->


            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
