name : open-horizon
on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
 
jobs:
  copy:
    runs-on: ubuntu-latest
    steps:
    - name: Copycat
      uses: andstor/copycat-action@v3
      with:
        personal_token: ${{ secrets.PERSONAL_TOKEN }}
        src_path: /docs
        dst_path: open-horizon.github.io/anax
        dst_owner: open-horizon
        dst_repo_name: open-horizon.github.io
        dst_branch: master
        src_branch: master
